/* current game */

#scenario {
    text-align: justify;
    margin-top: 20px;
    width: 90%;
    margin-left: 50px;
    height: auto;
    background: #f0f0f0;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1.5vw;
    padding: 5px;
}

#photo-button {
    margin-top: 10px;
    width: 20vw; height: 10vh;
    font-size: 1.5vw;
    font-weight: bold;
    outline: none;
    border: 5px solid #525252;
    background: #f0f0f0;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}



.user-like {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: red;
    font-weight: bold;
}
